<app-header></app-header>
<main>

 <!--Input and output to receive and emit events can only be used from the parent component which is app component-->

<!-- So this app component is the parent component, so we need to listen first from the child component
which is post-create -->

<!--
  $event is used here as a special variable to listen to event data that has been emitted
-->

<!-- this is used when we are using parent child relationship
<app-post-create (postCreated)="onPostAdded($event)"></app-post-create>
  <app-post-list [posts]="storedposts"></app-post-list>
</main>

when we are using service we will be using below code
-->
<app-post-create></app-post-create>
<app-post-list></app-post-list>

<!--whenever we use [] : this is called as property binding . ex [value]
    whenever we use () : this is called as eventbinding . ex (click)
-->
